@using MiwTienda.Models
@model PedidoViewModels
@{
    ViewBag.Title = "Index";
    var selectListItem = Model.metodoPago.Select(x => new SelectListItem()
    {
        Text = x.TipoMetodo,
        Value = x.Id.ToString()
    });
}

<h2>Realizar Pedido</h2>
<div>
    <div class="jumbotron jumbotron-fluid jumbotron-margin">
        <div class="container">
            <h1 class="text-left">Dirección de Entrega</h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="lead">@Model.cliente.Nombre</p>
                    <p class="lead">@Model.cliente.Direccion</p>
                    <p class="lead">@Model.cliente.Email</p>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Compra", "Pedido", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { cliente = Model.cliente}))
    {
        @Html.HiddenFor(m => m.cliente.Id);
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.metodoPago)
                @Html.DropDownListFor(m => m.methodPay, selectListItem, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.numero, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.numero, Model.numero.ToString(), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.caducidad, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.caducidad, Model.caducidad, new { @class = "form-control", @placeholder = "MES/AÑO" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.codigo, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.codigo, Model.codigo, new { @class = "form-control", @placeholder = " . . . " })
            </div>
        </div>
        <input type="submit" value="Pagar" class="btn btn-outline-info my-2 my-sm-0" />
    }
</div>
