@using MiwTienda.Models
@model CarritoViewModels
@{
    ViewBag.Title = "Carrito de Compra";
    string mensaje = (Model.carrito.Count == 1 ? "Artículo" : "Artículos") + " en el carrito";
}
<h2>Carrito</h2>
@Html.ValidationSummary("", new { @class = "text-danger" })
<h3>(@Model.carrito.Count) @mensaje</h3>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio Total</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @{
            double total = Model.carrito.Sum(u => u.valor);
            foreach (var producto in Model.carrito)
            {
                <tr>
                    <td><img style="width:60px;height:40px" src="../Imagenes/@producto.imagen" /></td>
                    <td>@Html.ActionLink(@producto.nombre, "Detail", "Producto", new { id = @producto.id }, null)</td>
                    <td>@producto.valor €</td>
                    <td>@producto.cantidadComprar</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<div>
    <strong>
        Total:
        <span style="float:right">@total €</span>
    </strong>
    @*<input type="button"class="btn btn-success" value="Vaciar Cesta" onclick="location.href=@Html.Action("DeleteAll","Carrito")" />
        <input type="button" value="Comprar" onclick=@Html.ActionLink("Detail", "Producto")*@
</div>
<input type="button" class="btn btn-success" value="Vaciar Cesta" onclick="location.href='@Url.Action("DeleteAll", "Carrito")'" />
<input type="button" class="btn btn-success" value="Comprar" onclick="location.href='@Url.Action("CheckCarrito", "Carrito")'" />
<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>