@model MiwTienda.Models.ProductCreateViewModel
@{
    ViewBag.Title = "Agregar Producto";
    var categoria = Enum.GetValues(typeof(MiwTienda.Models.Categoria.Tipos)).OfType<MiwTienda.Models.Categoria.Tipos>().Select(m => new { Text = m.ToString(), Value = (int)m }).ToList(); 
}

<h2>Agregar Producto</h2>

@using (Html.BeginForm("AgregarProducto", "Producto", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Cree un nuevo producto.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.nombre, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.descripcion, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.valor, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.valor, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.imagen, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.imagen, new { @class = "form-control", type = "file" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.stock, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.stock, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.categoria, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m=>m.categoria, new SelectList(categoria, "Value", "Text"),new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Agregar" />
        </div>
    </div>
}
