@using MiwTienda.Models
@model ListaProductoViewModel
@{
    ViewBag.Title = "Index";
}
@{
    if (Model.productos.Count == 0 && !string.IsNullOrEmpty(Model.palabraClave))
    {
        <h1 class="text-danger">Productos no encontrados.</h1>
        <h2 class="text-danger">No se ha encontrado ningun producto con la palabra clave: "@Model.palabraClave".</h2>
    }
    else
    {
        <h2>Productos encontrados:</h2>
        foreach (var producto in Model.productos)
        {

            <div class="jumbotron jumbotron-fluid jumbotron-margin">
                <div class="container">
                    <h1 class="text-center">@Html.ActionLink(producto.Nombre, "Detail", "Producto", new { id = producto.Id },null)</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
                            <img src="@producto.Imagen" style="width:70%;height:90%" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p class="lead">Precio: @producto.Precio €</p>
                            <p class="lead">Disponible: @producto.Cantidad</p>
                            <p class="lead">@producto.Descripcion</p>
                        </div>
                    </div>
                </div>
            </div>


        }
    }
}